@media (2560px <= width) {
   .body {
      font-size: 14px;
   }
}

@media (760px >= width) {
   .skills__list {
      grid-template-rows: 2;
      grid-template-columns: repeat(4, min-content);
   }

   .projects__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
   }
}
