.modal {
   position: fixed;
   inset: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.1s ease, visibility 0s ease;

   &.is-open {
      opacity: 1;
      visibility: visible;
   }

   &__overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.8);
      // backdrop-filter: blur(0px);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.1s ease, visibility 0s ease;

      &.is-open {
         opacity: 1;
         visibility: visible;
      }
   }

   &__content {
      position: relative;
      max-width: 60vw;
      min-height: 80vh;
      width: 100%;
      background: #242424;
      color: #fff;
      border-radius: 1.2em;
      overflow: hidden;
      // padding: 2em;
      box-shadow: 0 2em 2em rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      gap: 2em;
   }

   &__info {
      display: flex;
      flex-direction: column;
      gap: 1em;
   }

   &__title {
      font-family: $font-special;
      font-size: 3.4em;
      margin-bottom: 0.5em;
      background-color: #fff;
      padding-left: 2rem;
      padding-right: 2rem;
      color: #151515;
   }

   &__description {
      font-family: $font-default;
      font-variation-settings: "wght" 200;
      font-size: 1.6em;
      line-height: 160%;
      padding-left: 2rem;
      padding-right: 2rem;
      color: #e2e2e2;
   }

   &__meta {
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 1.2em;
      opacity: 0.7;
      font-size: 1.4em;
   }

   &__instruments {
      display: flex;
      gap: 0.8em;
      margin-top: 1.2em;
      padding-left: 2rem;
      padding-right: 2rem;

      svg {
         fill: rgba(253, 253, 253, 0.8);
         width: 2em;
         height: 2em;
      }
   }

   &__links {
      display: flex;
      gap: 1em;
      margin-top: 1.6em;
      padding-left: 2rem;
      padding-right: 2rem;
   }

   &__link {
      border: 2px solid #fff;
      border-radius: 5px;
      color: #fff;
      padding: 0.5em 1em;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.2s ease;

      &:hover {
         background-color: #fff;
         color: #151515;
      }
   }

   &__close {
      font-size: 2.6rem;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: #000000;
      border: none;
      color: #fff;
      opacity: 0.3;
      cursor: pointer;
      transition: opacity 0.2s linear;
      border-radius: 0.2em;
      &::before {
         position: absolute;
         content: "";
         top: 50%;
         left: 50%;
         width: 0.08em;
         height: 0.6em;
         background-color: #ffffff;
         transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
         position: absolute;
         content: "";
         top: 50%;
         left: 50%;
         width: 0.08em;
         height: 0.6em;
         background-color: #ffffff;
         transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:hover {
         opacity: 1;
      }
   }
}
