body {
   background-color: rgb(100, 100, 100);
   mix-blend-mode: difference;
}

.content {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 100vw;
   max-height: 100vh;
}

.hello {
   font-size: 48px;
   font-family: sans-serif;

   color: rgb(39, 39, 39);
}
