body {
   background-color: rgb(41, 41, 41);
   mix-blend-mode: difference;
}

.content {
   display: flex;
   justify-content: center;
   align-items: center;
}

.hello {
   font-size: 55px;
   font-family: sans-serif;
   color: rgb(134, 134, 134);
}
